apiVersion: v1
kind: Secret
metadata:
  name: forgejo-secrets
  namespace: forgejo
type: Opaque
stringData:
  POSTGRES_DB: forgejo
  POSTGRES_USER: forgejo
  POSTGRES_PASSWORD: change_me_strong_password

  FORGEJO_ADMIN_USER: mawi
  FORGEJO_ADMIN_EMAIL: you@yourdomain.com

  AZURE_CLIENT_ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  AZURE_CLIENT_SECRET: your-azure-client-secret
  AZURE_TENANT_ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  AZURE_SUBSCRIPTION_ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  AZURE_RESOURCE_GROUP: your-dns-resource-group
  AZURE_ZONE_NAME: yourdomain.com
